* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #e6f2fd;
    color: #333;
}

:root {
    --tab-bg-active: #fff;
}

.header-top {
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    height: 100px;
    font-style: italic;
    background: linear-gradient(
        80deg, 
        rgb(139, 229, 251),
        rgba(57, 165, 253, 0.9),
        rgba(0, 64, 255, 0.9));
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav-links a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.nav-links a:hover {
    color: white;
}

.main {
    margin: auto 150px;
}

.todo-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    border-radius: 30px;
    font-size: 30px;
    font-style: italic;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.todo-header button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.addTask-Btn:disabled {
    background-color: grey;
    cursor: not-allowed;
}

.head-icon {
    background: transparent;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 5px;
}

.todos {
    margin-top: 40px;
}

/* ---- Tabs Styling ---- */
.tabs {
    --tab-h: 46px;
    --tab-pad-x: 30px;
    --tab-gap: -5px;
    --tab-top-inset: 22px;
    --tab-shoulder: 47px;

    display: flex;
    justify-content: left;
    align-items: flex-end;
    gap: var(--tab-gap);
    margin: auto 25px;
    position: relative;
}

.tab {
    height: var(--tab-h);
    padding: 0 var(--tab-pad-x);
    border: 0;
    cursor: pointer;
    margin-left: -18px;
    margin-bottom: -1px;

    /*text*/
    font: 700 20px/1 system-ui, -apple-system, Segoe UI, Roboto, Arial;
    color: black;

    /*folder body*/
    background: var(--tab-bg, #ddd);
    position: relative;
    z-index: 1;

    /*folder cut*/
    clip-path: polygon(
        0% 100%,
        0% var(--tab-shoulder),
        var(--tab-top-inset) 0%,
        calc(100% - var(--tab-top-inset)) 0%,
        100% var(--tab-shoulder),
        100% 100%
    );

}

/*hover*/
.tab_label {
    position: relative;
    display: inline-block;
    padding-bottom: 6px;
    background: transparent;
}

.tab_label::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    bottom: 3px;
    left: 0;
    background-color: black;
    transition: transform 0.3s ease-out;

}
.tab_label:hover::after {
    transform: scaleX(1);  
}

.tab:first-child {
    margin-left: 0;
}   

/*color variants*/
.tab:nth-child(1) {z-index: 4; --tab-bg:rgba(255, 182, 193, 0.95); }
.tab:nth-child(2) {z-index: 3; --tab-bg: rgba(255, 255, 102, 0.95); }
.tab:nth-child(3) {z-index: 2; --tab-bg: rgba(144, 238, 144, 0.95); }
.tab:nth-child(4) {z-index: 1; --tab-bg: rgba(175, 189, 233, 0.95); }

.tab.is-active {
    z-index: 10;
    transform: translateY(4px);
}


.tab-container {
    border: 1px solid rgba(0, 0, 0, 0.18);
    border-radius: 10px;
    padding: 1rem;
    margin: auto 20px;
    background: linear-gradient(
        180deg, 
        var(--tab-bg-active) 0%, 
        #f0f8ff 70%
        );

    min-height: 250px;
}

/*Task form*/
.task-form {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    background-color: rgb(155, 155, 213);
    padding: 1rem;
    border-radius: 12px;
    border: 1px solid rgba(0, 0, 0, 0.18);
    margin-bottom: 10px;
}

.task-form textarea,
.task-form input,
.task-form select {
    background-color: whitesmoke;
    color: #000;
}

textarea {
    width: 100%;
    height: 100px;
    min-height: 100px;
    font-size: 16px;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    overflow: auto;
    resize: vertical;
    background-color: whitesmoke;
}

textarea.is-submitted {
    border: 2px solid black;
    box-shadow: 0 0 5px rgba(78, 192, 200, 0.5);
    color: black;
    line-height: 20px;

    background:
        repeating-linear-gradient(
            to bottom,
            transparent 0,
            transparent 19px,
            rgba(0, 0, 0, 0.52) 20px
        ) content-box,
        linear-gradient(#fff, #fff) padding-box;
        

    background-attachment: local, local;
}


.task-form.is-hidden {
    display: none;
}

.task-form_row {
    display: grid;
    gap: 0.5rem;
    margin-bottom: 0.8rem;
    background: transparent;
}

.task-form_row--3 {
    grid-template-columns: 1fr 1fr;
    gap: 0.75rem;
}

.task-form_field {
    display: grid;
    gap: 0.3rem;
    background: transparent;
}

.task-form__label {
  font: 700 14px/1 system-ui, -apple-system, Segoe UI, Roboto, Arial;
  font-weight: bold;
  background: transparent;
}

.task-form_field input,
.task-form_field select {
    width: 100%;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.task-form_actions {
    display: flex;
    flex-direction: row;
    gap: 0.8rem;
    justify-content: right;
    align-items: end;
}

.task-form_actions button {
    width: 120px;
    padding: 0.4rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.edit-save-btn {
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    background-color: #19b5ee;
    color: black;
    cursor: pointer;
}

.delete-btn {
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    background-color: #d72c0ed3;
    color: black;
    cursor: pointer;
}

.save-delete-icon {
    background: transparent;
    width: 16px;
    height: 15px;
    vertical-align: middle;
    margin-left: 3px;
}
    